/* Em src/pages/quill-custom.css */

/* Garante que a barra de ferramentas quebre a linha corretamente em telas pequenas */
.ql-toolbar {
  display: flex;
  flex-wrap: wrap;
}

/* Garante que o editor tenha uma altura mínima e se ajuste bem no tema escuro */
#quill-form-control .ql-container {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  min-height: 250px;
}

#quill-form-control .ql-toolbar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Melhora a cor do texto do placeholder no tema escuro */
.ql-editor.ql-blank::before {
  color: rgba(255, 255, 255, 0.36);
  font-style: italic;
}